<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, minima eos? Nulla iure dicta reiciendis, molestias tempore porro. Tenetur, 
      repellat maxime ad perspiciatis corrupti earum voluptatibus fugiat sint voluptate architecto?</p>
  </div>
</div>