<div class="jumbotron mt-4">
<h1 class="display-4">Notes App </h1>
<p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
<hr class="my-4">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque velit modi inventore provident placeat,
   nisi dolorem numquam recusandae, quae quasi iusto! Natus dolorum hic asperiores quae repellendus iste
    dolore deleniti molestiae exercitationem assumenda odio quidem, soluta accusamus magnam, quaerat 
    incidunt!</p>
<a href="http://faztweb.com" class="btn btn-primary btn-lg"> Faztweb</a>
</div>